{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}

<!-- Nav Bar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <div>
        <a class="navbar-brand">My Profile</a>
        <span class="navbar-brand text-primary">{{name}}</span>
    </div>
        <form class="d-flex">
            <a class="btn btn-outline-warning mx-2" href="{% url 'changepass' %}">Change Password</a>
            <a class="btn btn-outline-warning mx-2" href="{% url 'changepass1' %}">Change Password 1</a>
            <a class="btn btn-outline-danger mx-2" href="{% url 'logout' %}">Logout</a>
        </form>
    </div>
</nav>

        <!-- Alert Messages -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
        <span{% if message.tags %} class="{{message.tags}}" {% endif %} >
        {{message}}</span>
        </div>
        {% endfor %}
        {% endif %}

<div class="container mt-5">
    <h3>Welcome {{name}} !</h3>
</div>

<!-- User Info -->
<div class="container mt-3">
    <h3>My Information:</h3>

</div>

{% endblock content %}

