{% extends 'base.html' %}

{% block title %}SignUp Form{% endblock title %}

{% block style %}
a{
    text-decoration: none;
    } 
{% endblock style %}

{% block content %}

<div class="row">
    <div class="container col-sm-6 offset-3">
        <h2 class="container mt-4 text-center alert alert-danger">Signup Form</h2>
    </div>

    <div class="container col-sm-4">

        <!-- SignUp Form -->
        <form action="" method="post" novalidate>
            {% csrf_token %}

            <!-- SignUp form fields -->
            {% for fm in form %}
            <div class="my-1">
                <b>{{fm.label_tag}}</b>
                <div class="my-1">{{fm}}</div>
                <p>{{fm.errors|striptags}}</p>
            </div>
            {% endfor %}

            <input class="btn btn-primary my-3" type="submit" value="Create Account">
        </form>

        <p>Already have an account ?
            <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>

{% endblock content %}